extends layout

block content
  h1= title

  if bookinstance_list.length
    ul
      each val in bookinstance_list
        li
          a(href=val.url) #{val.book.title} : #{val.imprint} -&nbsp;
          if val.status=='利用可能' || val.status=='Available'
            span.text-success #{val.status}
          else if val.status=='メンテナンス中' || val.status=='Maintenance'
            span.text-danger #{val.status}
          else
            span.text-warning #{val.status}
          if val.status!='利用可能' && val.status!='Available'
            span  (返却予定日: #{val.due_back_formatted})

  else
    p この図書館には、本のコピーがないのね．
