extends layout

block content

  h1 Delete Genre: #{genre.name}

  if genre_books.length

    p #[strong このジャンルを消す前に、これらの本を削除する必要があるのよ]
      
    l ふふ……わかったわ。その「ジャンル」を消したいのね。

    l でもね、そのためには、まず、そのジャンルに属している「本」たちを、先にこの世界から消してあげないといけないのよ。

    l だって、宙ぶらりんのまま、行き場をなくした「本」が残ってしまったら、かわいそうでしょう？

    l だから、まずは彼らを片付けてから……そう、削除してからにしましょうね。



    div(style='margin-left:20px;margin-top:20px')

      h4 Books

      dl
        each book in genre_books
          dt
            a(href=book.url) #{book.title}
          dd #{book.summary}

  else
    p このジャンルを、本当に消してもいいの？

    form(method='POST')
      div.form-group
        input#id.form-control(type='hidden', name='id', value=genre._id )

      button.btn.btn-primary(type='submit') 削除