extends layout

block content
  h1= title
  p 図書館サイトへようこそ
  l  ふふ……あなたは、この図書館サイトにたどり着いたのね。
  br
  l  ここはね、ただの文字や情報の羅列じゃないのよ。
  br
  l  まるで、たくさんの小さな秘密が、
  br
  l  それぞれに閉じ込められている、不思議な箱庭……。

  p 今、この図書館には、これだけの記録があるのよ……

  ul
    li #[strong 書籍:] !{book_count}
    li #[strong 部数:] !{book_instance_count}
    li #[strong 貸し出し可能部数:] !{book_instance_available_count}
    li #[strong 著者:] !{author_count}
    li #[strong ジャンル:] !{genre_count}

  p ……ね？ 数字だけ見ても、たくさんの物語や知識が、ここに眠っているのがわかるでしょう？
